@import './base.css';
@import './bg.css';

.content-on-video {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* color: #f1f1f1; */
  width: 100%;
  height: fit-content;
  /* padding: 20px; */
}
#app {
  min-width: 100wh;
  height: 100vh;
  font-weight: normal;
}

a {
  color: grey;
  transition: 0.6s;
}
a:hover {
  background-color: inherit;
  color: #515152;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
